{% extends 'gabarit.html' %}

<!-- $Id: author.html,v 1.3 2016-06-22 14:56:33 dgoron Exp $ -->

{% block element_content %}
	<td valign="top">
		{{ list_element.get_object_instance.isbd_entry }}<br/>
		<br/>
		{% if list_element.get_object_instance.author_comment %}
			<div class="aut_display_row">
				<div class="aut_display_cell">
					<b>{{ msg.search_extended_author_comment }} :</b>
				</div>
				<div class="aut_display_cell">
					{{list_element.get_object_instance.author_comment | nl2br }}
				</div>
			</div>
		{% endif %}
		{% if list_element.get_object_instance.see %}
			<div class="aut_display_row">
				<div class="aut_display_cell">
					<b>{{ msg.206 }} :</b>
				</div>
				<div class='aut_display_cell'>
					<font class='number_results'><a href="./autorites.php?categ=see&sub=author&id={{ list_element.get_object_instance.see }}">{{list_element.get_object_instance.see_libelle}}</a></font>
				</div>
			</div>
		{% endif %}
	
		{% block indexing_concept %}
			{{block.super}}
		{% endblock %}
		{% block pperso %}
			{{block.super}}
		{% endblock %}
	</td>
{% endblock %}